/* Design by Euan Steven */

* {
  cursor: url('/assets/images/cursor.svg'), auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
  background-image: radial-gradient(#242424 10%, transparent 11%),
  radial-gradient(#242424 10%, transparent 11%);
  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
}

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 2%;
}

.topnav a {
  float: none;
  display: inline-flex;
  color: #a19a9a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Space Mono', monospace;
  background-image: linear-gradient(#a19a9a 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.topnav a.active {
  color: #ffffff;
  float: none;
  display: inline-flex;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Space Mono', monospace;
  background-image: linear-gradient(#ffffff 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.topnav .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.topnav a.active .icon {
  background: url('/assets/images/home.svg') no-repeat;
}

.topnav a:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.intro {
  font-family: 'Consolas', monospace;
  font-size: 1.0em;
  color: #ffffff;
  text-align: left;
  margin-top: 4%;
  padding-left: 5%;
}

.intro h1, .intro h2 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: 'Consolas', monospace;
}

.intro h1 {
  margin-bottom: 0.4em;
  font-family: 'Consolas', monospace;
}

.intro h2 {
  font-size: 1.3em;
  color: #25b747;
}

.intro img {
  width: 23%;
  border-radius: 8px;
  display: block;
  margin-top: 2%;
}

.description {
  font-family: 'Space Mono', monospace;
  font-size: 1em;
  color: #a19a9a;
  text-align: left;
  margin-top: 5%;
  padding-left: 5%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
  margin: 0, auto;
}

.project {
  background-color: #242424;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.4s;
}

.project a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.project:hover {
  transform: scale(1.05);
}

.prods {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
}

.prod {
  background-color: #242424;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.4s;
  text-align: center;
}

.prod img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  display: block;
}

.prod h3, .prod p {
  margin: 10px 0;
  padding: 0 10px;
}

.prod h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.prod a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.prod p {
  margin-bottom: 15px;
}

.prod:hover {
  transform: scale(1.05);
}

.details {
  font-family: 'Space Mono', monospace;
  font-size: 1em;
  color: #a19a9a;
  text-align: left;
  margin-top: 5%;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.text-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.details ul {
  flex: none;
  margin-bottom: 10px;
}

.details img {
  width: 30%;
  border-radius: 8px;
  display: block;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 2%;
}

@media (max-width: 768px) {
  .details {
    flex-direction: column;
    align-items: center;
  }

  .details img {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
  }

  .text-details {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .details img {
    width: 100%;
    margin-top: 10%;
  }
}

.contact-form {
  font-family: 'Space Mono', monospace;
  color: #a19a9a;
  padding: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
}

.contact-form h2 {
  color: #25b747;
  margin-bottom: 1em;
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input,
textarea {
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  background-color: #242424;
  color: #ffffff;
  font-family: 'Space Mono', monospace;
}

button[type="submit"] {
  background-color: #25b747;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: 'Space Mono', monospace;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #1e9037;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5%;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
}

.gallery img {
  width: 100%;
  border-radius: 8px;
}

.files {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Space Mono', monospace;
  color: #ffffff;
}

.file {
  background-color: #242424;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.4s;
  text-align: center;
}

.file img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  display: block;
}

.file h3, .file p {
  margin: 10px 0;
  padding: 0 10px;
}

.file h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.file a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.file p {
  margin-bottom: 15px;
}

.file:hover {
  transform: scale(1.05);
}

.error {
  font-family: 'Space Mono', monospace;
  font-size: 1em;
  color: #a19a9a;
  text-align: left;
  margin-top: 5%;
  padding-left: 5%;
}

.error a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.socials {
  font-family: 'Space Mono', monospace;
  font-size: 1em;
  color: #ffffff;
  text-align: left;
  margin-top: 5%;
  padding-left: 5%;
  margin-bottom: 5%;
}

.socials a {
  color: #2effff;
  text-decoration: none;
  font-weight: bold;
}

footer {
  font-family: 'Space Mono', monospace;
  font-size: 0.8em;
  color: #a19a9a;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 1%;
  left: 0;
  bottom: 0;
  width: 100%;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #a19a9a #111111;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #111111;
}

*::-webkit-scrollbar-thumb {
  background-color: #a19a9a;
  border-radius: 10px;
  border: 3px #111111;
}